*
{
    box-sizing: border-box;
}
body
{
    background-color: #f9fafb;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.contain
{
    display: flex;
    width: 100%;
}
nav
{
    background-color: #353A3F;
    width: 18%;
}

nav p
{
    color: white;
    margin-left: 12%;
}

.burger img
{
    width: 10%;
}
.name_site, .log_connect
{
    margin-top: 3%;
    margin-left: 4%;
}
.log_connect img, .name_site img
{
    margin-top: 6%;
    margin-bottom: 2%;
    height: 8vh;
}

.name_site p, .log_connect p
{
    margin-top: 15%;
}
.log_connect, .name_site
{
    display: flex;
    margin-bottom: 3%;
    border-bottom: 1px solid black;
}

.search input
{
    background-color: #353A3F;
    width: 85%;
    margin-left: 2%;
    height: 4vh;
    color: wheat;
    font-size: 23px;
}
.search i
{
    position: absolute;
    left: 16%;
   
}
i
{
    color: white;
}
.menu
{
    display: flex;
    flex-direction: column;
    margin-left: -4%;
    margin-bottom: 30%;

}
.first
{
    display: flex;
    border-bottom: 1px solid #ecf0f1;
    width: 100%;
    margin-top: 2%;
}
.first small
{
    position: relative;
    left: 20%;
    margin-top: 3%;
}
.derou
{
    display: flex;
    margin-left: 46%;
}
.derou .close
{
    display: none;
}
.sub 
{
    margin-top: 16%;
    margin-left: -100%;
    display: none;
}
.sub li
{
    list-style-type: none;
    display: flex;
    border-bottom: 0.5px solid #ecf0f1;
    margin-bottom: 3%;
    width: 100%;
}
.sub.hide
{
    display: block;
}
.nav.hide
{

    width: 5%;
}
.nav.hide .first
{
    border-bottom: none;
    margin-bottom: 50%;
}
.nav.hide .first:hover
{
    background-color: #2F7DF6;
}

.nav.hide p, .nav.hide span, .nav.hide small
{
    display: none;
    padding-top: 1%;

}
.search.hide 
{
    display: none;
}
.sub li
{
    border-bottom: none;
    width: 100%;
}
.first
{
    display: flex;
}
.first p
{
    text-transform: uppercase;
}
.first:hover
{
    border-radius: 30px;
}

