* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #22254A;
}
.contain
{   
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
header
{
    display: flex;
    justify-content: right;
    height: 7vh;
    background-color: #373B69;
    width: 100%;
}
header input
{
    height: 3vh;
    margin-top: 1%;
    margin-right: 3%;
    border-radius: 3.125em;
    padding-left: 1%;
    background-color: #373B69;
    border: 1px solid black;
}
.movies_container
{
    display: flex;
    width: 100%;   
    flex-wrap: wrap;
    margin-bottom: 4%;
    margin-top: -2%;
}
.recherche
{
    margin-top: 1%;
}
.subcontain
{
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 2% 0 0 2%;
}
.text_img
{
    display: flex;
    flex-direction: column;
}
.text_img img
{
    height: 31.25em;
}
.text
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 0 7%;
    display: none;
}
.text h2, .text p
{
    margin-top: 3%;
}
.text p
{
    margin-bottom: 4%;
}
.text.hover
{
    display: block;
}
.text_img.hover img
{
    height: 15.625em;
}
.title
{
    height: 7em;
    background-color: #373B69;
    display: flex;
    justify-content: space-between;
}
.title h2
{
    color: white;
    margin-left: 2%;
    margin-top: 2%;
}
.title span
{
    background-color: #22254A;
    padding: 2%;
    margin: 1% 3% 0 0;
    font-size: 15px;
    height: 2em;
    color: #257E36;
}

/* loader */
.loader
{
    width: 100%;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 45%;
}
.loader.hidden
{
    display: none;
}
.loading 
{
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #373B69; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }